@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?focdu1');
  src:  url('fonts/icomoon.eot?focdu1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?focdu1') format('truetype'),
    url('fonts/icomoon.woff?focdu1') format('woff'),
    url('fonts/icomoon.svg?focdu1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e902";
}
.icon-menu2:before {
  content: "\e9bd";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}





/*清除浮动*/
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

header {
	background: rgba(0, 0, 0, 0.4);
}

nav {
	background: transparent;
	height: 50px;
}

#banner {
	/*背景颜色透明*/
	background: transparent;
	height: 800px;
}

nav ul {
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo {
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a {
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit; /*继承*/
	color: #fff;
	letter-spacing: 2px;
}

nav .logo {
	float: left;
}

nav .logo a {
	margin: 20px;
}

#banner .inner {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}

#banner .inner h1 {
	margin: 0;
	color: #fff;
}

#banner .inner p {
	color: #fff;
}

hr {
  width: 300px;
  height: 2px;
}

ul {
	margin: 0;
}

button {
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}

h1 {
	padding: 12px;
/*	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;*/
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
	letter-spacing: 1px;
}

.active {
	border-bottom: 4px solid #fff;
}

#banner button {
	padding: 14px 40px;
	background: #09db7f;
}

#banner .inner .more {
	margin-top: 250px;
	color: #fff;
}

#banner .inner .icon-arrow-down2 {
	padding: 30px;
	color: #fff;
}

.sub-heading {
	line-height: 30px;
	margin: 30px 0;
}

.logo {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

.hr {
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

.content h2 {
	margin: 0;
}

.green-section {
	background: #039988; 
	text-align: center;
	color: #fff;
	padding: 100px 0;
}

.green-section .sub-heading {
	font-size: 18px;
}

.green-section .hr {
	background: #068797;
	width: 60%;
}
.wrapper {
	max-width: 1080px;
	margin: 0 auto;
}

.icon-group {
	margin-top: 60px;
	position-size: 100%;
}


.green-section .icon-group .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #088b7f;
	background: #079989;
	transform: rotate(45deg); /*旋转45度*/
	margin: 20px;
}

.icon-wink ,.icon-diamond ,.icon-heart{
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
	height: 180px;
	font-size: 50px;
	color: #12dbb1;
	text-align: center;
	line-height:40px;
	transition: top 1s;
	transform: rotate(315deg); 
}


.icon-wink {
	color: #2fe1d4;
}

.icon-diamond {
	color: #12dbb1;
}

.icon-heart{
	color: #43f0a4;
}

.gray-section {
	background: #252f34;
	color: #fff;
}

.gray-section .img-section{
	width: 45%;
}

.gray-section img{
	width: 100%;
}

.gray-section .text-section{
	width: 55%;
}

.article-preview > div {
	float: left;
	font-size: 0;
}

/*奇偶选择器*/
.article-preview:nth-child(odd) {
	background-color: rgba(255,255,255,0.05);
}

/*清除.article-preview浮动*/
.article-preview:after {
	content: '';
	display: block;
	clear: both;
}

.text-section {
  position: relative;
  top: 68px;
  left: 51px;
}

.text-section h2{
	margin-bottom: 20px;
} 

.text-section p {
	font-size: 18px;
	letter-spacing: 1px;
}

.text-section .sub-heading {
	font-size: 22px;
	margin-top: 0;
}

.text-section > * {
    max-width: 90%;
}

.purple-section {
	padding: 80px;
	background: #3f3965;
	color: #fff;
}

.purple-section .heading-wrapper {
	text-align: center;
}

.purple-section .hr {
	background: #373259;
	width: 60%;
}

.card {
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
	/*border: 1px solid white;*/
}


.card:first-child {
	background: rgba(0, 0, 0, 0.04);
}

.card:nth-child(2) {
	background: rgba(0, 0, 0, 0.08);
}

.card:nth-child(3) {
	background: rgba(0, 0, 0, 0.12);
}

.card:nth-child(4) {
	background: rgba(0, 0, 0, 0.16);
}

.card:nth-child(5) {
	background: rgba(0, 0, 0, 0.20);
}

.card:nth-child(6) {
	background: rgba(0, 0, 0, 0.24);
}

footer {
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}

ul.share-group {
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}

.share-group li {
	display: inline-block;
	padding: 10px;
}

.share-group li a {
	text-decoration: none;
	color: #fff;
	font-size: 40px;
	padding: 20px;
}

.copy {
	padding-bottom: 20px;
}

.main-wrapper {
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed; /*不可移动的*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.nav {
    position: fixed;
    top: 60px;
    right: 0px;
    padding: 20px;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

#sidebar {
    /* display: none; */
    z-index: 999; /*权重*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    background: #2cba90;
    padding: 20px 0;
    transition: right 0.5s;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 10px 30px;
    display: inline-block;
}

#sidebar ul a:hover {
    background: #444;
}

#sidebar .hr {
  margin: 0;
  background: #20a87f;
  width: 80%;
  height: 1px;
}

