
/*我是CSS注释*/

/*标题css属性*/
body{font-family:"Microsoft Yahei";}
h1{
	font-size:30px;
	color:#930;
	text-align:center;
}

/*文字CSS属性*/
p{
	text-indent:2em; 
	font-size:18px;
	color:#500;
	text-align:left;
	line-height:2em;
}
/* 文字样式 */
span{
	color:pink;
	font-weight:bold;
}

/* 表格css属性 */
table tr td,th{
	border:1px solid #000;
}

div{
	text-align:center;
}
